/* line 5, ../scss/service.scss */
body { height: 100%; }

/* line 9, ../scss/service.scss */
input[type='checkbox'] { position: absolute; top: 0; left: 0; opacity: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/* line 16, ../scss/service.scss */
input[type='checkbox'] + label:before { display: inline-block; background-image: url(../img/sp.png); background-position: -62px -26px; width: 24px; height: 24px; vertical-align: middle; content: ''; }
/* line 24, ../scss/service.scss */
input[type='checkbox']:checked + label:before { background-image: url(../img/sp.png); background-position: -62px 0px; width: 24px; height: 24px; }

/* line 30, ../scss/service.scss */
button { background-image: url(../img/sp.png); background-position: 0px 0px; width: 60px; height: 60px; }
