@charset "utf-8";

@import '_sprites'; // sprite 이미지 사용하지않을 경우, 제거

body {
	height: 100%;
}

input[type='checkbox'] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	appearance: none;
	&+label {
		&:before {
			display: inline-block;
			@include sprite($chk);
			vertical-align: middle;
			content: '';
		}
	}
	&:checked+label {
		&:before {
			@include sprite($chk-on);
		}
	}
}

button {
	@include sprite($btn-add);
}